{% extends 'base.html.twig' %}

{% block title %}New Borrow{% endblock %}

{% block body %}
    <h1>Créer un nouvel emprunt</h1>

    {{ include('borrow/_form.html.twig') }}

    <a href="{{ path('app_borrow_index') }}">Retour à la liste</a>
{% endblock %}
